{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-3">Create Examination</h2>

    <div class="card">
        <div class="card-body">

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Create Examination
                </button>

                <a
                    href="{% url 'assessment_home' %}"
                    class="btn btn-secondary"
                >
                    Cancel
                </a>

            </form>

        </div>
    </div>

</div>

{% endblock %}